<div class="container">
  <div class="row">
    <!-- <div class="six colunms logo">
      <a  href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
    </div> -->
    <div class="six columns nav">
        <a  href="/#/collection"class="nav-items">Shop</a>
        <a  href="/#/"class="nav-items">Home</a>
        <a  href="/#/about"class="nav-items">About</a>
        <a href="/#/cart" class="nav-items">Cart</a>
        <a id="hamburger" class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="view.toggleClass()"></i></a>
    </div>
  </div>
</div>
