<div class="background-color">
  <div class="navb-header">
    <img ng-src="../../images/Anvil2.png" alt="">
    <a href="/#/cart" class="nav-items">Cart ({{view.itemsInCart}})</a>
  </div>
  <div class="navb">
    <div class="navb-links">
      <a  href="/#/collection"class="nav-items">Shop</a>
      <a  id="about-link" href="/#/about"class="nav-items">About</a>
    </div>
    <a  class="navb-logo"href="/#/"><img ng-src="../../images/no-anvil.png" alt=""></a>
    <a  class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="view.toggleClass()"></i></a>
  </div>
</div>






<!--

<div class="container">
  <div class="row">
    <div class="six colunms logo">
      <a  href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
    </div>
    <div class="six columns nav">
        <a  href="/#/collection"class="nav-items">Shop</a>
        <a  href="/#/"class="nav-items">Home</a>
        <a  href="/#/about"class="nav-items">About</a>
        <a href="/#/cart" class="nav-items">Cart</a>
        <a id="hamburger" class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="view.toggleClass()"></i></a>
    </div>
  </div>
</div> -->
