<div class="terms">
  <h1>Terms of Use</h1>

  <h2>PROCESSING</h2>

  <p>Each item is made to order. Our goal is to process all orders within one business day of receipt.

  <h2>SHIPPING POLICY</h2>

  <p>All orders will be shipped within two weeks, we will email you tracking information the day we ship it. Please allow 3 to 4 business days once you receive your tracking number.</p>

  <h2>RETURNS</h2>

  <p>All items may be returned within 10 days. Merchandise damaged or shipped incorrectly if notice of condition is given within of receiving the merchandise. Returns will be credited to Customer’s or replaced. Please note that shipping charges are nonrefundable.</p>

  <h2>PAYMENT</h2>

  <p>Shopify Payments.</p>

  <h2>SALES TAX</h2>

  <p>Sales tax on the merchandise and shipping total are charged for items shipped.</p>

  <h2>REPAIR POLICY</h2>
  <p>We will replace any item purchased within 6 months for free. All items purchased more than 6 months is subject to repair fee. Please email sales@madisonmckinley.us for repairs.</p>

  <h2>ADDITIONAL QUESTIONS</h2>
  <p>If you have any other questions or concerns, please contact sales@madisonmckinley.us</p>
</div>
