<div ng-class="view.toggle" id="site-wrapper">
    <div id="site-canvas">
      <div  class="navigation">
          <gs-nav-bar></gs-nav-bar>
      </div>
        <div id="homepage-load">
          <div id="homepage-image-top" ng-click="view.toggleNav()">
            <img ng-src="../../images/homepage1.jpg" alt="">
          </div>
        </div>
        <div class="call-to-action">
          <div ng-click="view.goShopping()"id="shopping">
            <a href="/#/collection"><h2>Shop Holiday Popup</h2></a>
            <img ng-src="../../images/braclet.png" alt="">
          </div>
          <div id="quote">
            <p>{{view.quote.text}}</p>
            <p>-{{view.quote.author}}</p>
          </div>
        </div>
        <div class="madison">
          <div class="madison-text">
            <a href="/#/about"><h3>Meet Madison Mckinley</h3></a>
            <p>LEARN MORE ABOUT OUR DESIGNER AND HER INSPIRATIONS HERE.</p>
            <h3>Connect</h3>
            <div class="social-icons">
              <h1><a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
              <h1><a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a></h1>
              <h1><a href="https://www.pinterest.com/madisonmcki2054/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></h1>
              <address><h1><a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h1></address>
            </div>
            <h3>Join The Mailing List</h3>
            <form class="signup" action="https://madisonmckinley.us14.list-manage.com/subscribe/post" method="POST">
              <input type="hidden" name="u" value="bcd9930960ff9fd387fe97bac">
              <input type="hidden" name="id" value="a5490a4aa7">
              <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">
              <input type="submit">
            </form>
            <a href="/#/terms"><h3>Terms of Use</h3></a>
          </div>
        </div>

      <div id="site-menu">
        <div id="menu-quote">
          <p> {{view.quote.text}} </p>
          <p>-{{view.quote.author}}</p>
        </div>
        <img ng-src="../../images/Anvil2.png" alt="">
        <div class="menu-social-icons">
          <h1><a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
          <h1><a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a></h1>
          <h1><a href="https://www.pinterest.com/madisonmcki2054/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></h1>
          <h1><a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h1>
        </div>
        <h3>Join The Mailing List</h3>
        <form class="menu-signup"  method="post">
          <input type="text">
          <input type="submit">
        </form>

      </div>
    </div>
</div>
