<div ng-class="view.toggle" id="site-wrapper">
    <div id="site-canvas">
      <div  class="navigation">
          <gs-nav-bar></gs-nav-bar>
      </div>
        <div id="homepage-load">
          <div id="homepage-image-top" ng-click="view.toggleNav()">
            <img ng-src="../../images/homepage1.jpg" alt="">
          </div>
          <img id="logo-home" ng-src="../../images/anvil-logo.png" alt="">
        </div>
        <div class="call-to-action">
          <div ng-click="view.goShopping()"id="shopping">
            <a href="/#/collection"><h2>Shop Holiday Popup</h2></a>
            <img ng-src="../../images/braclet.png" alt="">
          </div>
          <div id="quote">
            <p id="quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>~Madison McKinley</p>
          </div>
        </div>
        <div class="madison">
          <div class="madison-text">
            <a href="/#/about"><h3>Meet Madison Mckinley</h3></a>
            <p>LEARN MORE ABOUT OUR DESIGNER AND HER INSPIRATIONS HERE.</p>
            <h3>Connect</h3>
            <div class="social-icons">
              <h1><a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
              <h1><a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a></h1>
              <h1><a href="https://www.pinterest.com/madisonmcki2054/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></h1>
              <h1><a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h1>
            </div>
            <h3>Join The Mailing List</h3>
            <form ng-class="view.showNav" action="index.html" method="post">
              <input type="text">
              <input type="submit">
            </form>
            <a href="/#/terms"><h3>Terms of Use</h3></a>
          </div>
        </div>

      <div id="site-menu">
        <div id="menu-quote">
          <p id="menu-quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>~Madison McKinley</p>
        </div>
        <img ng-src="../../images/Anvil2.png" alt="">
        <div class="menu-social-icons">
          <h1><a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
          <h1><a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a></h1>
          <h1><a href="https://www.pinterest.com/madisonmcki2054/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></h1>
          <h1><a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h1>
        </div>
        <h3>Join The Mailing List</h3>
        <form class="menu-signup"  method="post">
          <input type="text">
          <input type="submit">
        </form>
      </div>
      </div>
    </div>
</div>
