<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">Collection</a></li>
      <li><a href="#">Charity</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
