<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- fullPage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.8/jquery.fullPage.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

    <!-- ng-Route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/fullpage.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Shopify Buy SDK -->
    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <!-- Font -->
    <link href="https://allfont.net/allfont.css?fonts=colonna-mt" rel="stylesheet" type="text/css" />

    <base href='/'>
  </head>

  <body ng-cloak>

      <ng-view></ng-view>

    <!-- <script src="env.js"></script> -->
    <script type="text/javascript" src="/vendors/angular-fullpage.js/angular-fullpage.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/directives.js"></script>
    <script type="text/javascript" src="/javascripts/services/shopify.js"></script>
    <script type="text/javascript" src="/javascripts/services/navigationService.js"></script>
    <script type="text/javascript" src="/partials/collection/collection.controller.js"></script>
    <script type="text/javascript" src="/partials/collection/collection.services.js"></script>
    <script type="text/javascript" src="/partials/about/about.controller.js"></script>
    <script type="text/javascript" src="/partials/about/about.services.js"></script>
    <script type="text/javascript" src="/partials/cart/cart.controller.js"></script>
    <script type="text/javascript" src="/partials/cart/cart.service.js"></script>
    <script type="text/javascript" src="/partials/singleproduct/singleproduct.controller.js"></script>
    <script type="text/javascript" src="/partials/home/home.controller.js"></script>
    <script type="text/javascript" src="/partials/terms/terms.controller.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>



  </body>
</html>
