<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/controller.js"></script>
    <script type="text/javascript" src="/javascripts/directives.js"></script>
    <script type="text/javascript" src="/javascripts/services.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
