
<div ng-class="view.toggle" id="site-wrapper">
  <div id="site-canvas">
    <div id="single-product-container">
        <gs-nav-bar></gs-nav-bar>
        <div class="single-product-display">
          <div class="gallery">
            <span ng-click="view.togglePhotoLeft()" ng-show="view.showGallery"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
            <img ng-src="{{view.currentImage}}" alt="">
            <span ng-click="view.togglePhotoRight()" ng-show="view.showGallery"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
          </div>
          <div ng-show="view.showGallery" class="selected-image">
            <span ng-click="view.togglePhotoLeft()" ng-class="view.isSelected.first"><i class="fa fa-circle" aria-hidden="true"></i></span>
            <span ng-click="view.togglePhotoRight()" ng-class="view.isSelected.second"><i class="fa fa-circle" aria-hidden="true"></i></span>
          </div>
          <div class="product-info">
            <h2>{{view.product.attrs.title}}</h1>
            <h2>{{view.product["attrs"]["variants"][0]["price"] | currency}}</h2>
            <div class="product-buttons">
              <form name="addToCartForm" ng-submit="view.addToCart(1)">
                <input id="submit" type="submit" value="add to cart">
              </form>
              <button ng-click="view.showProductDetails()">{{view.buttonText}}</button>
            </div>
            <div class="product-details" ng-show="view.showDetails" >
              <h2>Details</h2>
              <p ng-bind-html="view.product.description"></p>
            </div>
          </div>
        </div>
    </div>
    <div id="site-menu">
      <div id="menu-quote">
        <p id="menu-quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p>~Madison McKinley</p>
      </div>
      <img ng-src="../../images/Anvil2.png" alt="">
      <div class="menu-social-icons">
        <h1><a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
        <h1><a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a></h1>
        <h1><a href="https://www.pinterest.com/madisonmcki2054/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></h1>
        <h1><a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h1>
      </div>
      <h3>Join The Mailing List</h3>
      <form class="menu-signup"  method="post">
        <input type="text">
        <input type="submit">
      </form>
    </div>
  </div>
</div>
