<div ng-class="view.toggle" id="site-wrapper">
  <div id="site-canvas">
    <gs-nav-bar></gs-nav-bar>
    <div class="container">
      <div class="row">
        <div class="12 columns">
          <h1 class="cart-header">Cart</h1>
        </div>
      </div>
      <div>

      </div>
      <div class="row cart-product-headers">
        <div class="five columns">
          <h5>Piece</h5>
        </div>
        <div class="two columns">
          <h5>Price</h5>
        </div>
        <div class="three columns">
          <h5>Quantity</h5>
        </div>
        <div class="two columns">
          <h5>Subtotal</h5>
        </div>
      </div>
      <div  ng-repeat="n in view.lineItems track by $index">
        <div class="mouseenter" ng-mouseleave="n.lineItems.toggleTrash = false" ng-mouseover="n.lineItems.toggleTrash = true" >
        <div class="five columns">
          <p>{{n.attrs.variant_title}}</p>
        </div>
        <div class="two columns">
          <p>{{n.price | currency}}</p>
        </div>
        <div class="three columns edit">
            <input type="number" ng-model="n.updateQuantity" value="{{n.quantity}}" placeholder="{{n.quantity}}">
            <span ng-show="n.lineItems.toggleTrash" ng-click="view.updateQuantity(n.id,n.updateQuantity)">Update</span>
            <span ng-click="view.removeCartItem(n.id)"ng-show="n.lineItems.toggleTrash"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div  class="lineprice two columns">
          <p>{{n.line_price | currency}}</p>
        </div>

      </div>
    </div>
      <div class="row">
        <div class="12 columns cart-footer">
          <h3>Total: {{view.shoppingcart.subtotal | currency}}</h3>
        </div>
      </div>
      <div class="row cart-footer">
        <a href="{{view.checkoutUrl}}"><button>Checkout</button></a>
        <a href="/#/collection"><button>Keep Shopping</button></a>
      </div>

    </div>
    <gs-side-bar></gs-side-bar>
  </div>
</div>
