body {
  font-family: 'MyWebFonts','lulo_cleanone', serif;
  background-color: #FFFFFF;
}

.background-color {
  background: #f4eace;
  height: 13vh;
}

.navb-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 1vh;
  width: 100%;
  top: 0;
  z-index: 500;

}

.navb-header a {
  position: absolute;
  right: 25px;
  font-size: 1.5rem;

}

.navb-header a:hover {
  color: #a04a36;

}

.navb-header img {
  height: 2vh;
  margin-right: auto;
  margin-left: auto;

}

.navb-logo {
  margin-left: auto;
  margin-right: auto;

}

.navb-links {
  position: absolute;
  left: 25px;
  margin-top: 4vh;
  font-size: 1.5rem;
}
.navb {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}
.navb img {
  height: 4vh;
  margin-bottom: 2vh;

}

.nav-items {
  text-decoration: none;
  color: #B85741;
}

.nav-items:hover {
  text-decoration: none;
  color: #a04a36;
}


.navb i {
  position: absolute;
  right: 25px;
  margin-top: 4vh;
  font-size: 2.7rem;

}

.navb i:hover {
  color: #a04a36;

}

.navigation {
background: #f4eace;
}



.nav {
 font-size: 2rem;
 display: flex;
 justify-content: space-around;
 padding-top: 6vh;
}



#hamburger i {
  color: #B85741;
  font-size: 3.5rem;
  opacity: 1;
  padding-right: 2%;
}

.logo3 {
  font-family: 'Colonna MT', arial;
  padding-top: 5vh;
  color: #B85741;
}

.product-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.products {
  background-color: #FFFFFF;
  text-align: center;
  width: 100%;
}

.product-hover {
  height: 15vh;
}

.products a {
  text-decoration: none;
  color: black;
}

#product-shots {
  max-width: 350px;
  transition: max-width 1s ease;
}

#product-shots:hover {
  max-width: 370px;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery img {
  height: 60vh;
  transition: .5s ease;

}

.selected-image {
  display: inline;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.selected-image span {
  color: #bb9872;
}

.current-selection i {
  color: #a58461;
  font-size: 1.7rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-info {
  font-size: 1.5rem;
  transition: .5s ease;
}

.product-info h2 {
  color: #bb9872;
}

.product-info #quantity {
  width: 75px;
}

.product-info button {
  display: inline-block;
  border: 1px;
  border-style: solid;
  font-size: 1.1rem;
  margin-left: 5px;
  color: #bb9872;
}

.product-info button:hover {
  display: inline-block;
  border: 1px;
  border-style: solid;
  font-size: 1.1rem;
  margin-left: 5px;
  color: #a58461;
}

.product-buttons {
  display: flex;
  flex-direction: row;
}
.product-buttons input {
  color: #bb9872;
  border-color: #bb9872;
}

.product-buttons input:hover {
  color: #a58461;
  border-color: #a58461;
}

.product-details.ng-show-add {
  transition:0.5s linear all;
}

.product-details p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.25rem;
}

.product-details h2 {
  padding-left: 18%;
}

.product-details {
  margin-bottom: 5vh;
}

.product-details.ng-hide-add{
  transition:0.5s linear all;
    display: block;

}

.single-product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  padding-top: 2vh;
}

.madison {
  background-image: url("../images/bottom-homepage.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  padding-right: 1px;
  opacity: .8;
  zoom: 75%;
}

.madison-text {
  width: 50%;
  height: 100%;
  padding-top: 3vh;

}



.madison-text h3:hover {
  display: inline-flex;

}


.madison-text h3  {
  padding-top: 1vh;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1rem;
  color: #a58461;
}

.madison-text a h3:hover {
  display: inline-flex;
  transition: font-size .5s ease;
  font-size: 2.05rem;
}

.madison-text a  h3 {
  padding-top: 5vh;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1rem;
  color: #a58461;
  transition: font-size .5s ease;

}

.madison-text a {
  color: #a58461;
  text-decoration: none;
}

.madison-test a:hover {
  font-size: 2.2rem;
}

.madison-text form {
  padding-left: 10%;
  padding-top: 3%;
}

.madison-text input {
  background-color: #f4eace;
  border-color: #bb9872;
  color: #bb9872;
  transition: color 0.5s ease;
}



.madison-text input:focus {
  background-color: #f4eace;
  border-color: #a58461;
}

.madison-text input:hover {
  background-color: #f4eace;
  border-color: #a58461;
  color: #a58461;
}

.gallery {
  display: flex;
  align-items: center;
}


.madison-text p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1rem;
    color: #bb9872;
}

.gallery span {
  font-size: 5rem;
  margin-right: 40%;
  margin-left: 40%;
  color: #bb9872;
}

#site-wrapper {
position: relative;
overflow: hidden;
width: 100%;
min-height: 100vh;

}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  min-height: 100vh;
}

#site-menu {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  color: #bb9872;
  right: -400px;
  background: #f4eace;
  min-height: 100vh;
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 1px 1px #fff;
  box-shadow: inset 0 0 5px #bb9872;


}

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}


#site-menu img {
  height: 10vh;
  padding-bottom: 5vh;
  padding-top: 5vh;

}

.sidebar {
  display: flex;
  flex-direction: column;
}

#site-menu h3 {
  padding-left: 5%;
  font-size: 2rem;
}

#menu-quote {

  text-align: center;
}

#menu-quote p {
  font-size: 1.2vw;
  margin-left: 2%;
  margin-right: 2%;
}

.terms {
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
}

.terms h1 {
  font-size: 3rem;
  color: #bb9872;;
}

.terms h2 {
  font-size: 2rem;
  color: #bb9872;
}

.terms p {
  font-size: 1.5rem;

}

#menu-quote img {
  align-self: center;
  flex-grow: none;
}

.menu-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-social-icons h1 {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5vh;
  color:#bb9872;
  font-size: 4rem;
  transition: font-size 0.5s ease;

}

.menu-social-icons a {
  color:#bb9872;
  padding-bottom: 2px;
}

.menu-social-icons a:hover {
    color:#a58461;
    font-size: 4.2rem;
    padding-bottom: 0px;

}

.menu-signup {
  display: flex;
  flex-direction: column;
}

.menu-signup input {
  background-color: #f4eace;
  border-color: #bb9872;
  align-self: center;
  color: #bb9872;

}

.menu-signup input:focus {
  background-color: #f4eace;
  border-color: #a58461;
}

.menu-signup input:hover {
  background-color: #f4eace;
  border-color: #a58461;
}

.cart-header {
  font-size: 3rem;
  padding-top: 6vh;
  color: #bb9872;
}

.cart-product-headers h5 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 6vh;
  color: #bb9872;
}

.cart-footer button {
  font-size: 1.25rem;
  border-color: #bb9872;
  color: #bb9872;
  border-width: thin;
  text-decoration: none;
}

.cart-footer button:hover {
  color: #a58461;
  border-color: #a58461;
  border-width: 1px;
}

.cart-footer h3 {
  font-size: 2rem;
}

.edit input {
  width: 70px;
}

.edit span {
  padding-left: 2px;
}

.edit input:focus {
  border-color: #bb9872;
}

.signup input::-webkit-input-placeholder {
  color:#bb9872;
}

.edit input::-webkit-input-placeholder {
  color:black;
}

#cart i {
  color: #B85741;
  font-size: 3.5rem;
  opacity: 1;
  padding-right: 5%;
}

#cart {
  padding-right: 5%;
}

.update-buttons button {
  border: none;
  color: #B85741;
}

#x {
  font-size: 3.5rem;
  text-decoration: none;
  padding-top: 5vh;
  border: none;
}

.x {
  display: flex;
  justify-content: flex-end;
}


#logo-home {
height: 20vh;
z-index: 1;
position: relative;
align-self: flex-start;
padding-top: 10vh;

}

#homepage-load {
  background-image: url("../images/homepage1.jpg");
  background-size: cover;
  background-position: center;
  opacity: .80;
  display: flex;
  height: 40vh;
}

.call-to-action {
  display: flex;
  height: 40vh;

}

#shopping {
  width: 50.05%;

}

#shopping h2 {
  padding-top: 4vh;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  color: #bb9872;
  text-decoration: none;
  font-size: 4.0vw;
  transition: font-size .5s ease;
}

#shopping h2:hover {
  padding-top: 4vh;
  text-align: center;
  font-size: 4.1vw;
  color: #bb9872;
  text-decoration: none;
  transition: font-size .5s ease;
}

#shopping a {
  text-decoration: none;
}

#shopping h2:hover {
  color: #a58461;
  text-decoration: none;

}

#shopping img {
  display: block;
  margin: 0 auto;
  height: 20vh;
  margin-bottom: 3vh;
  transition: height 0.5s ease;

}

#shopping img:hover {
  height: 42vh;
}

#quote {
  width: 49.95%;
  height: 40vh;
  background: #f4eace;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*align-items: center;*/
  align-content: center;
  flex-grow:

}

#quote p {
  color: #bb9872;
  font-size: 2.5vw;
  padding-left: 10%;
  padding-right: 10%;

}


.about-designer {
  height: 80vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url("../images/mads-cover.jpg");
}

.mads-image {
  height: 80vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.mads-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  zoom: 75%;

}

.mads-call-to-action {
  width: 50%;
  height: 80vh;

}



.hero-image {
  background-image: url("../images/homepage4.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  /*opacity: .75;*/

}

#homepage-jumbotron {
  background-image: url("../images/homepage1.jpg");
  min-height: 85vh;
  background-size: cover;
  background-position: center;
  font-family: 'Colonna MT', arial;
  font-size: 10em;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

#homepage-jumbotron h1 {
  font-size: .75em;
  text-align: center;
  color: #bb9872;
  opacity: 1;
}



.social-icons i {
  font-size: 4rem;
  transition: font-size .5s ease;
  padding-top: 5px;

}

.social-icons i:hover {
  font-size: 4.3rem;


}

.logo img {
  width: 40%;
}

.header {
  color: #30392D;
  opacity: 1;
  text-align: center;
  font-size: 3em;
  text-shadow: 0 1px 0 black;
  padding-top: 5vh;
}






.nav {
 font-size: 2rem;
 display: flex;
 justify-content: flex-end;
 padding-top: 6vh;
}






#hamburger i {
  color: #B85741;
  font-size: 3.5rem;
  opacity: 1;
  padding-right: 2%;
}

.logo3 {
  font-family: 'Colonna MT', arial;
  padding-top: 5vh;
  color: #B85741;
}


#panel1 {
  background-image: url("../images/homepage2.jpg");
  background-size: cover;
  background-position: center;
  opacity: .80;
  display: flex;
}

#panel1 p {
  background-color: #f4eace;
  opacity: .9;
  width: 65%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  padding: 3% 3% 3% 3%;
  font-size: 1vw;
  line-height: 4vh;
  border-width: 5px;
  border-color: #bb9872;
  border-style: solid;
  margin-bottom: 0px;
  font-weight: bold;

}

#panel2 {
  background-image: url("../images/coffeee.jpg");
  background-size: cover;
  background-position: center;

  opacity: .80;
}

#panel2 p {
  background-color: #f4eace;
  opacity: .9;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38vh;
  padding: 3% 3% 3% 3%;
  font-size: 1vw;
  line-height: 4vh;
  line-height: 4vh;
  border-width: 5px;
  border-color: #bb9872;
  border-style: solid;
  margin-bottom: 0px;
  font-weight: bold;
}




#panel3 {
  background-image: url("../images/homepage3.jpg");
  background-size: cover;
  background-position: center;
  opacity: .80;
}

#panel3 p {
  background-color: #f4eace;
  opacity: .9;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27vh;
  padding: 3% 3% 3% 3%;
  font-size: 1vw;
  line-height: 4vh;
  line-height: 4vh;
  border-width: 5px;
  border-color: #bb9872;
  border-style: solid;
  margin-bottom: 0px;
  font-weight: bold;
}

#panel4 {
  background-image: url("../images/beads.jpg");
  background-size: cover;
  background-position: center;
  opacity: .8;
}

#panel4 p {
  background-color: #f4eace;
  opacity: .9;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  padding: 3% 3% 3% 3%;
  font-size: 1vw;
  line-height: 4vh;
  line-height: 4vh;
  border-width: 5px;
  border-color: #bb9872;
  border-style: solid;
  margin-bottom: 0px;
  font-weight: bold;
}

#panel5 {
  background-image: url("../images/ironwork.jpg");
  background-size: cover;
  background-position: center;
  opacity: .8;
}

#panel5 .box {
  background-color: #f4eace;
  opacity: .6;
  width: 65%;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32vh;
  padding: 3% 3% 5% 3%;
  font-size: 1vw;
  line-height: 4vh;
  line-height: 4vh;
  border-width: 5px;
  border-color: #bb9872;
  border-style: solid;
  margin-bottom: 0px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  width: 95%;
  opacity: 1;
  margin-top: 3vh;
}

.social-about {
  display: inline-flex;
  justify-content: space-between;
  width: 60%;
  padding-top: 5vh;
  color: #bb9872;
}

.social-about i {
  color: #bb9872;
  font-size: 4.5vw;
  transition: font-size 1s ease;

}

.social-about i:hover {
  color: #a58461;
  font-size: 4.7vw;
}






#navigation-arrow-circle {
  align-self: flex-end;
  display: flex;
  left: 50%;
  opacity: 1;
  border: 2px solid #B85741;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  color: #B85741;
  font-size: 32px;
  margin: 0 auto;
  transform: translateX(-50%);
  margin-top: 45vh;
}

#navigation-arrow-circle i {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  font-size: inherit;
}

#about-img-1 {
  height: auto;
  width: 100%;
}

#about-logo {
  height: auto;
  width: 100%;
}



@font-face {
    font-family: 'lulo_cleanone';
    src: url('luloclean_oneregular_macroman/LuloCleanOne-webfont.eot');
    src: url('luloclean_oneregular_macroman/LuloCleanOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('luloclean_oneregular_macroman/LuloCleanOne-webfont.woff2') format('woff2'),
         url('luloclean_oneregular_macroman/LuloCleanOne-webfont.woff') format('woff'),
         url('luloclean_oneregular_macroman/LuloCleanOne-webfont.ttf') format('truetype'),
         url('luloclean_oneregular_macroman/LuloCleanOne-webfont.svg#lulo_cleanone') format('svg');
    font-weight: normal;
    font-style: normal;
  }


body, html, main {
	/* important */
	height: 100%;
}

#homepage1image {

  height: 100vh;
  background-image: url("../images/homepage2.jpg");
  background-size: cover;

}

#homepagepanel1 img {
  height: 100vh;
}

#homepagepanel2 img {
  height: 100vh;
}

#homepage1text {

  height: 100vh;
}


#footer-left h2 {
  padding-top: 5vh;
}

#spacing {
  min-height: 400px;
}

.logo2 {
  font-family: 'Colonna MT', arial;
  color: #B85741;
  font-size: 4em;
  padding-top: 50vh;
  opacity: 1;
  text-shadow: 0 1px 0 black;
}



button {
  background: none;
  border-style: solid;
  border-width: medium;
  font-size: 2em;
}

#panel2 button {
  margin-top: 5vh;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%
}

.social-icons {
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;

}

.social-icons i {
  justify-content: space-around;
  color: #bb9872;
}

.social-icons i:hover {
  color: #a58461;
}

/* Larger than mobile */
/*@media (min-width: 400px) {

}*/

/* Larger than phablet */
/*@media (min-width: 550px) {

}*/

/* Larger than tablet */
@media (min-width: 750px) {
  .nav {
   font-size: 2rem;
   display: flex;
   justify-content: flex-end;
   padding-top: 6vh;
  }



  #hamburger i {
    color: #B85741;
    font-size: 3.5rem;
    opacity: 1;
    padding-right: 2%;
  }

  .logo3 {
    font-family: 'Colonna MT', arial;
    padding-top: 5vh;
    color: #B85741;
  }

  .product-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;

  }
  .products {
    background-color: #FFFFFF;
    text-align: center;
    width: 50%;
  }
  .edit i{
    display: inline;
    font-size: 2rem;
  }

#show-details.ng-show {
 transition: all linear 1s;
}

#show-details a {
  color: #bb9872;
}
  .product-hover {
    height: 15vh;
  }


  .gallery {
    display: flex;
    justify-content: center;
  }

  .gallery img {
    height: 45vh;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit {
    display: inline;
  }

  .product-info h2 {
    font-size: 1.75rem;
  }

  .product-info #quantity {
    width: 75px;
  }

  .single-product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    padding-top: 10vh;
  }

  .navb-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 1vh;
    width: 100%;
    top: 0;
    z-index: 500;
  }

  .navb-header a {
    position: absolute;
    right: 25px;
    font-size: 1.2rem;

  }

  .navb-header img {
    height: 2vh;
    margin-right: auto;
    margin-left: auto;

  }

  #main-logo {
    height: 10vh;
    padding-top: 1vh;
  }

  .navb-logo {
    margin-left: auto;
    margin-right: auto;
    height: 3vh;
  }

  .navb-links {
    position: absolute;
    left: 25px;
    margin-top: 4vh;
    font-size: 1.7vw;
  }
  .navb {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
    margin-left: 5%;

  }
  .navb img {
    height: 12vh;
    top: 1vh;
    margin-right: 100%;

  }

  .nav-items {
    text-decoration: none;
    color: #B85741;
  }

  #about-link {
    padding-left: 6vw;
  }

  .navb i {
    position: absolute;
    right: 25px;
    margin-top: 4vh;
    font-size: 2.7rem;

  }

  .call-to-action {
    display: flex;
    height: 70vh;

  }

  #homepage-load {
    background-image: url("../images/homepage1.jpg");
    background-size: cover;
    background-position: center;
    opacity: .80;
    display: flex;
    height: 80vh;
  }

  #quote {
    width: 49.95%;
    height: 70vh;
    background: #f4eace;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
    align-content: center;
    flex-grow:

  }

  #shopping img {
    display: block;
    margin: 0 auto;
    height: 40vh;
    margin-bottom: 3vh;
    transition: height 0.5s ease;

  }

  #quote p {
    color: #bb9872;
    font-size: 1.8vw;
    padding-left: 10%;
    padding-right: 10%;

  }

  .madison {
    background-image: url("../images/bottom-homepage.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-right: 1px;
    opacity: .8;
    zoom: 100%;
  }

  .madison-text h3  {
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5vw;;
    color: #a58461;
  }

  .madison-text a  h3 {
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2rem;
    color: #a58461;
    transition: font-size .5s ease;

  }
  .madison-text {
    width: 50%;
    height: 100%;
    padding-top: 10vh;

  }

  .madison-text p {
      padding-left: 10%;
      padding-right: 10%;
      font-size: 1.5rem;
      color: #bb9872;
  }

  .madison-text input #b_email {
    background-color: #f4eace;
    border-color: #bb9872;
    color: #bb9872;
    transition: color 0.5s ease;
    width: 50%;
  }

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .cart-product-headers {
    display: none;
  }

  .lineprice {
    display: none;
  }

  .navb i {
    display: none;
  }

  .navb-header {
    position: absolute;
    padding-top: 8vh;
  }

  .navb-header img {
    display: none;
  }

  .background-color {
    height: 12vh;
  }

  .navb-logo img{
    margin-top: 5px;
    height: 6vh;
  }

  .navb-links {
    margin-top: 8vh;
  }



  #b_email {
    width: 90%;
  }

  #panel1 p {
    height: 75%;
    margin-top: 5vh;
    font-size: 2vw;
    line-height: 3vh;


  }
  #panel2 p {
    height: 75%;
    margin-top: 5vh;
    font-size: 2vw;
    line-height: 3vh;


  }
  #panel3 p {
    height: 75%;
    margin-top: 5vh;
    font-size: 2vw;
    line-height: 3vh;


  }
  #panel4 p {
    height: 75%;
    margin-top: 5vh;
    font-size: 2vw;
    line-height: 3vh;


  }

  #title {
    text-align: center;
  }

  #about-link{
    padding-left: 50px;
  }



}

/* Larger than desktop */
/*@media (min-width: 1000px) {

}*/

/* Larger than Desktop HD */
/*@media (min-width: 1200px) {

}*/
