<div ng-class="view.toggle" id="site-wrapper">
  <div id="site-canvas">
      <gs-nav-bar></gs-nav-bar>
    <div class="hero-image">

    </div>
    <div class="product-container">

        <div ng-mouseenter="n.showDetails=true" ng-mouseleave="n.showDetails = false" class="products" ng-repeat="n in view.products track by $index">
            <a href="/#/product/{{n.attrs.product_id}}"><img id="product-shots" ng-src="{{n.attrs.images[0].src}}" alt=""></a>
            <div class="product-hover">
              <div id="show-details"ng-show="n.showDetails">
                <a href="/#/product/{{n.attrs.product_id}}">
                <p>{{n.attrs.title}}</p>
                </a>
              </div>
            </div>
        </div>

    </div>
    <gs-side-bar></gs-side-bar>
  </div>
</div>
