

<div ng-class="vm.toggle" id="site-wrapper">
  <div id="site-canvas">

    <div full-page options="vm.someOptions">

        <div id="panel1" class="section container">
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <h3 class="logo3">MADISON MCKINLEY</h3>
            </div>
            <div class="col-md-1 col-md-offset-6">
              <a id="hamburger"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
          </div>
          <div class="row">
            <div>
                <h1 class="logo">MADISON MCKINLEY</h1>
            </div>
          </div>
          <a id="navigation-arrow-circle" href=""><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
        <div id="panel2" class="section container">
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <a href="/#/"><h3 class="logo3">MADISON MCKINLEY</h3></a>
            </div>
            <div class="col-md-1 col-md-offset-6">
              <a id="hamburger"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
            <div class="col-md-6 col-md-offset-6">
              <h1 class="logo2">MADISON MCKINLEY</h1>
              <h1>Holiday Popop Shop</h1>
              <a href="/#/collection"><button>Shop</button></a>

            </div>
          </div>
        </div>
        <div id="panel3" class="section container">
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <h3 class="logo3">MADISON MCKINLEY</h3>
            </div>
            <div class="col-md-1 col-md-offset-6">
              <a id="hamburger"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
          </div>
        </div>
    </div>
    <div id="site-menu">
      <div class="container-fluid">
        <ul class="social-icons">
            <a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/madisonmcki2054/" ng-class="{}"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </ul>
        <ul class="nav">
          <li class="nav-item"><a href="#">Collection</a></li>
          <li class="nav-item"><a href="#">Charity</a></li>
          <li class="nav-item"><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
