

<div ng-class="vm.toggle" id="site-wrapper">
  <div id="site-canvas">

    <div full-page options="vm.someOptions">
        <div id="panel1" class="section">
          <div class="background-color">
            <div class="navb-header">
              <img ng-src="../../images/Anvil2.png" alt="">
              <a href="/#/cart" class="nav-items">Cart ({{view.itemsInCart}})</a>
            </div>
            <div class="navb">
              <div class="navb-links">
                <a  href="/#/collection"class="nav-items">Shop</a>
                <a  href="/#/about"class="nav-items">About</a>
              </div>
              <a  class="navb-logo"href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
              <a  class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
          </div>

            <p>Born out of a curiosity for the artisanal and handmade, Madison McKinley is an American jewelry company that embodies the spirit of wanderlust and creates one of a kind jewelry for the journey ahead. The brand launched in 2009 in Dallas, Texas by mother-daughter duo Madison and Karla McKinley with the goal of creating handmade, artisan pieces that are timeless, functional, and unique. Their first collection was soon sold throughout Dallas as a special partnership with the local clothing brand, Koch. Seven years later, what started as a single collection evolved into something much more as Madison McKinley became one of the leading jewelry brands in Dallas.</p>

        </div>
        <div id="panel2" class="section">
          <div class="background-color">
            <div class="navb-header">
              <img ng-src="../../images/Anvil2.png" alt="">
              <a href="/#/cart" class="nav-items">Cart ({{view.itemsInCart}})</a>
            </div>
            <div class="navb">
              <div class="navb-links">
                <a  href="/#/collection"class="nav-items">Shop</a>
                <a  href="/#/about"class="nav-items">About</a>
              </div>
              <a  class="navb-logo"href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
              <a  class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
          </div>
          <div class="box">
            <p>Constantly ahead of the trend, Madison mixes vintage and modern to create one of a kind rustic-meets-city pieces to fit in every woman’s jewelry box. Mixing genres and blending boundaries within her jewelry was inspired by both of her grandmothers, one being interested in art and the other in fashion. This inspiration is what caused Madison to mix contemporary styles with a rustic aesthetic to make Madison McKinley jewelry a true embodiment of the rustic and revolutionary American spirit.</p>
          </div>
        </div>
        <div id="panel3" class="section">
          <div class="background-color">
            <div class="navb-header">
              <img ng-src="../../images/Anvil2.png" alt="">
              <a href="/#/cart" class="nav-items">Cart ({{view.itemsInCart}})</a>
            </div>
            <div class="navb">
              <div class="navb-links">
                <a  href="/#/collection"class="nav-items">Shop</a>
                <a  href="/#/about"class="nav-items">About</a>
              </div>
              <a  class="navb-logo"href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
              <a  class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
          </div>
          <div class="box">
            <p>Staying true to her values and beliefs, Madison designs and produces her collections in the United States, specifically in Dallas, Texas and Buffalo, Wyoming. Buffalo is a critical driving force in Madison’s overall vision. The nature and serenity of Buffalo has allowed for a clear vision of what the brands model has become. Countless days and nights have been spent on her family ranch in her grandmother’s studio painting, sketching, and designing her collections. Her unique designs include vintage cameos, handmade beads, micromosaics, semi precious and precious stones, and intricate metal work. Each piece encapsulates the can do it attitude of Wyoming meaning that traces of Madison’s process, handiwork, and attention to detail are made present in each handmade piece.</p>
          </div>
        </div>
        <div id="panel4" class="section">
          <div class="background-color">
            <div class="navb-header">
              <img ng-src="../../images/Anvil2.png" alt="">
              <a href="/#/cart" class="nav-items">Cart ({{view.itemsInCart}})</a>
            </div>
            <div class="navb">
              <div class="navb-links">
                <a  href="/#/collection"class="nav-items">Shop</a>
                <a  href="/#/about"class="nav-items">About</a>
              </div>
              <a  class="navb-logo"href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
              <a  class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
            </div>
          </div>
          <div class="box">
            <p>While the Madison McKinley roots are in the United States, the inspiration for the jewelry expands to all corners of the world. Each collection draws influences from Madison’s endless travels and experiences. With each adventure comes new ideas for designs that help Madison push the boundaries of her craft and create beautiful pieces based off of the cultures and people that she admires. This global influence enables Madison to create each perennial and unique collection that serves as a chapter in the Madison McKinley narrative. Behind each piece is a story, a journey, a history and is made personally by hand just for you.</p>
          </div>
        </div>
        <div id="panel5" class="section">
            <div class="background-color">
              <div class="navb-header">
                <img ng-src="../../images/Anvil2.png" alt="">
                <a href="/#/cart" class="nav-items">Cart ({{view.itemsInCart}})</a>
              </div>
              <div class="navb">
                <div class="navb-links">
                  <a  href="/#/collection"class="nav-items">Shop</a>
                  <a  href="/#/about"class="nav-items">About</a>
                </div>
                <a  class="navb-logo"href="/#/"><img ng-src="../../images/mads1.png" alt=""></a>
                <a  class="nav-items"><i class="fa fa-bars" aria-hidden="true" ng-click="vm.toggleClass()"></i></a>
              </div>
            </div>
          <div class="box">
            <img src="../../images/anvil-logo.png" alt="">
            <div class="social-about">
              <h1><a href="https://www.instagram.com/madisonmckinleydesigns/"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
              <h1><a href="https://www.facebook.com/Madison-Mckinley-Designs-104141666686791/"><i class="fa fa-facebook" aria-hidden="true"></i></a></h1>
              <h1><a href="https://www.pinterest.com/madisonmcki2054/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></h1>
              <h1><a href="mailto:info@madisonmckinley.us?Subject=Customer%20Question"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h1>
            </div>
          </div>

          <div>


          </div>
        </div>
    </div>
    <gs-side-bar></gs-side-bar>
  </div>
</div>
